@model Product

@{ 
    ViewBag.Title = "Product name";
}

<div data-productid="@Model.ProductID" data-stocklevel="@ViewBag.StockLevel">

<p>Product Name: @Model.Name;</p>
<p>Product Price: @($"{Model.Price:C2}")</p>
<p>Stock Level: @ViewBag.StockLevel</p>

</div>